.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 60px;
    width: auto;
    height: 30px;

    text-align: center;
    color: #fff;

    background-color: #191121;
    border: 2px solid #410082;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
    border: 2px solid #8000ff;
    background-color: #191121;
    font-weight:bold;
}