.tabelas_container{
    text-decoration: none;
    text-align: center;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px;

}

.botoes{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    margin: 20px;
}

.botoes button{
    margin-right: 20px;
}