.footer_container{
    color: #fff;
    background-color: #191121;



    padding: 1em;
    align-items: center;
    font-size: 25px;
    max-width: 100%;
    width: 100%;
}
.footer_container_bord{
    border-top: 2px solid #410082;
    max-width: 15%;
    margin: auto;
}

.footer_container ul{
    list-style-type: none;  


    display: flex;
    justify-content: center;
}

.footer_container li{
    margin: 15px;
}

.footer_container li:hover{
    opacity: 0.5;
    cursor: pointer;
}